# IntelliJ
.idea/
*.iml
out/

# Gradle
.gradle/
build/

# Maven
target/

# Java
*.class
*.log
hs_err_pid*
replay_pid*

# Archives (원치 않으면 빼도 됨)
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
